/* .style{
    position: 'absolute',
  top: '50%',
  left: '50%',
  transform: 'translate(-50%, -50%)',
  width: 400,
  bgcolor: 'background.paper',
  border: '2px solid #000',
  boxShadow: 24,
  p: 4,
} */
.MuiDialogTitle-root+.css-1jfddxb-MuiDialogContent-root {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding-top: 0;
  justify-content: center;
}
.css-bdhsul-MuiTypography-root-MuiDialogTitle-root{
  text-align: center;
}
